body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#ffe8ce;
}

.header {
    width: 100%;
}
.header img {
    width: 100%;
    max-width:100%;
    display: block;
}

.navbar {
    background: #e63d24;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width:100%;
    z-index: 9999;
    box-sizing: border-box;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #ffe8ce;
    text-decoration: none;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 6px;
}

.nav-links a:hover {
    background: #f792c4
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 26px;
    padding: 10px 0;
    list-style: none;
    background:  #ffe8ce;
    border-radius: 8px;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.dropdown-menu li a {
    color: #5f32f3;
    display: block;
    padding: 10px 15px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  gap: 20px;
  background: #d54b1a;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba (0,0,0,0.1);
}

.box1{
    background:#f3bb40;
}

.box2{
    background:#e63d24;
    color:#f0ecc9;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  outline:3px solid #038b47;
  outline-offset: 3px;
}

.deskripsi {
  flex: 1;
  font-size: 16px;
  line-height: 1.6;
}

.layout-wrapper {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    width: 250px;
    height:2500px;
    background: #038b47;
    padding: 25px;
    box-sizing: border-box;
    position: relative;  
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 12px;
}

.sidebar ul li a {
    display: block;
    padding: 14px 16px;
    background: #ffe8ce;
    border-radius: 10px;
    color: #038b47;
    font-size: 17px;
    text-decoration: none;
    transition: 0.25s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background: #f792c4;
    color:#f0ecc9;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}


.content-wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.pengertian-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.pengertian-box p {
    flex: 1;
    font-size: 17px;
}

.pengertian-img {
    width: 230px;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}


.section-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.section-box {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.section-box h2 {
    margin-top: 10px;
}

.section-box ul {
    padding-left: 20px;
    line-height: 1.7;
}

.gallery-title {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.gallery-wrapper {
    width: 100%;
    overflow-x: auto;
    padding-bottom: 10px;
}

.gallery {
    display: flex;
    gap: 15px;
    width: max-content;
}

.gallery img {
    width: 250px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 15px;
}

.gallery-wrapper::-webkit-scrollbar {
    height: 10px;
}
.gallery-wrapper::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 10px;
}

.content-wrapper {
    flex: 1;
    max-width: 800px;  
    padding: 20px 40px;     
    margin-left: 30px; 
    margin-top:0;
}


.section-container {
    flex:1;
    padding:40px;
    margin:0;

}
