.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.big-card {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.big-card h2 {
  margin-bottom: 15px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1;
  background: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.card h3 {
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  .card-row {
    flex-direction: column;
  }
}

.header{
    width:100%;
    position: relative;
    z-index: 1;
}

.header img{
    width:100%;
    height:auto;
    display:block;
}

.navbar {
    width: 100%;
    background: hsl(214, 100%, 34%);
    padding: 15px 100px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    box-sizing: border-box;
    z-index: 9999;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
}

.nav-links a:hover {
    background: #00337a;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    padding-top: 5px;
    background: white;
    position: absolute;
    top: 28px;
    left: 0;
    padding: 10px 0;
    list-style: none;
    border-radius: 8px;
    min-width: 170px;
    top: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.dropdown-menu li a {
    color: #004aad;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background: #e6f0ff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}