body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#ffe8ce;
}

.header {
    width: 100%;
}
.header img {
    width: 100%;
    max-width:100%;
    display: block;
}

.navbar {
    background: #e63d24;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    width:100%;
    z-index: 9999;
    box-sizing: border-box;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #ffe8ce;
    text-decoration: none;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 6px;
}

.nav-links a:hover {
    background: #f792c4
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 26px;
    padding: 10px 0;
    list-style: none;
    background:  #ffe8ce;
    border-radius: 8px;
    min-width: 180px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
.dropdown-menu li a {
    color: #5f32f3;
    display: block;
    padding: 10px 15px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

header {
    text-align: center;
    margin: 40px auto 20px;
    width: 85%;
}

header h1 {
    font-size: 32px;
    color: #b33215;
}

.sub {
    font-size: 17px;
    color: #444;
}

.section {
    width: 85%;
    margin: 40px auto;
}

.section h2 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #b33215;
}

.content-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: 0.3s;
}

.content-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}

.text {
    flex: 1;
    line-height: 1.7;
    font-size: 17px;
}

.solusi-box {
    width: 350px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

.img-placeholder {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid #e63d24;
}

.img-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-placeholder:hover {
    background: #e63d24;
    border-color: #f3bb40;
}

.tabel-aksi {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    font-size: 16px;
}

.tabel-aksi th {
    background: #e63d24;
    color: white;
    padding: 15px;
    font-size: 18px;
}

.tabel-aksi td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.kategori {
    background: #f3bb40;
    font-weight: bold;
    color: #333;
    width: 230px;
    text-align: center;
}

.tabel-aksi tr:hover td {
    background: #fbe4c1;
}

.list li {
    margin-bottom: 10px;
    background: #fff;
    padding: 12px 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
    transition: 0.25s;
}

.list li:hover {
    background: #ffe1b0;
    transform: translateX(5px);
}

@media (max-width: 900px) {
    .content-box {
        flex-direction: column;
        text-align: center;
    }

    .img-placeholder {
        margin: auto;
        width: 90%;
    }
}
